!!!5
html(lang='zh', ng-app='praticeApp')
  head
    meta(charset='utf-8')
    title daily data-driven document pratice
  body
    #wrapper(ng-controller='PageCtrl')
      chart

    script(src='components/d3/d3.min.js')
    script(src='components/angular/angular.min.js')
    script(src='main.js')
