!!!5
html(lang='zh', ng-app='praticeApp')
  head
    meta(charset='utf-8')
    title D4
    link(href='styles/main.css', rel='stylesheet')
  body
    #controller(ng-controller='PageCtrl')
      #stage this is the stage
        .chart(chart, d3-data='genderData')
    script(src='/components/angular/angular.min.js')
    script(src='/components/d3/d3.min.js')
    script(src='/app/scripts/main.js')
